.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 2rem;

    border: 2px solid yellow;
}


/* NAVBAR SECTIONS */
.navbar-left{
    border: 2px solid blueviolet;
    display: flex;
}

.navbar-left .menu-button{
    background-color: #888888;
    border: 0 solid #000000;
    border-radius: 10%;
    padding: 0 1rem 0 1rem;
}

.navbar-left .menu-button:hover{
    box-shadow: #242424 5px 5px 10px;
}

.navbar-left .menu .menu-content{
    position: absolute;
    display: flex;
}

.navbar-center{
    border: 2px solid blue;
}

.navbar-right{
    border: 2px solid limegreen;
}
/* END OF NAVBAR SECTIONS */


